---
const titulo ="Sobre mí";
const textAbout = " Mi trayectoria en el mundo de la tecnología se nutre de una combinación de lógica y creatividad. Gracias a mi formación tanto en diseño gráfico como en desarrollo full-stack (DAM y DAW), consigo tender un puente entre imágenes impresionantes y un código sólido.Para mí, el desarrollo no consiste solo en hacer que las cosas funcionen, sino en hacerlas memorables. Me apasiona crear interfaces de usuario muy interactivas y llamativas que no solo sean bonitas, sino que también hagan que la experiencia del usuario sea fluida e intuitiva. Me encanta resolver rompecabezas complejos de backend tanto como disfruto con los diseños de frontend con precisión al píxel, asegurándome de que cada aplicación que desarrollo sea potente, escalable y un placer de usar"
import desktopImg from '../assets/Fperfil/Pdesktop.png';
import tabletImg from '../assets/Fperfil/Ptablet.png';
import phoneImg from '../assets/Fperfil/Pphone.png';

const fotoPerfil =
    {
    alt: 'Foto de perfil del portfolio llamado javier diaz rayo',
    src: { 
        pc:desktopImg.src,
        tablet:tabletImg.src,
        phone:phoneImg.src
    }
  }

---
<section class="about-section" id="sobre-mi">
<div class="about">
    <header>
        <span>01/</span>
        <h1>{titulo}</h1>
    </header>
    <img src={fotoPerfil.src.pc} alt={fotoPerfil.alt} col-span />
    <p>{textAbout}</p>
  
</div>
</section>


<style>
  section {
    background-color: rgba(36, 36, 33, 0.8);
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .about {
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header"
      "img"
      "p";
    gap: 1.5rem;
  }

  header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  span {
    color: #22C55E;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-right: 8px;
    line-height: 1;
  }

  h1 {
    color: #F4F2EC;
    margin: 0;
    line-height: 1;
    font-size: 2.25rem;
  }

  p {
    color: #9C9A93;
    grid-area: p;
    margin: 12px;
    font-size: 10px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    text-justify: inter-character;

  }

  img {
    grid-area: img;
    width: 100%;
    max-width: 194px;
    height: auto;
    border-radius: 20px;
    justify-self: center;
  }

  /*  ESCRITORIO */
  @media (min-width: 768px) {
    .about {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "header img"
        "p      img";
      gap: 2rem;
      p{
        font-size: 14px;
      }
    }
    h1{
        text-align: justify;
    }
    img {
      max-width: 208px;
      justify-self: end; 
    }
  }
</style>